<footer>
  <div class="text-white footer mt-auto py-2">
    <h6 class="text-center footed-head">
      &#169 Chess
      <a href="/about" class="a">About </a> | <a href="/contact" class="a">Contact</a>
    </h6>
  </div>
</footer>
<style>
  .a {
    text-decoration: none;
    color: rgba(174, 174, 174, 0.659);
  }
  .footer-head{
    color: rgba(174, 174, 174, 0.659);

  }
  footer{
    margin-top: auto;
  }
  .footer{
    background-color: #252320;
  }
  .main-body{
    height: 100vh;
  }
</style>
