<% layout('./layout/boilerplate.ejs') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger mt-5" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
        nobis officia. Dolore consequatur esse rerum vero autem maxime ducimus
        iure quisquam, laudantium tempore ex sed qui perspiciatis voluptatem
        iste recusandae?
      </p>
    </div>
  </div>
</div>
