<div class="user2 card rounded-end text-white card my-2 px-1 py-1">
  <h4 class="playerdetails">
    <img
      src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/chess_piece_pawn.png"
      class="dp"
      alt=""
    />
    <span id="user2-name"><%= currentUser.username %></span>
    <span class="badge bg-secondary p-1" id="user2-skill">
      <small><%= currentUser.skill %></small></span
    >
  </h4>
  <div class="text-white" id="captures2"></div>
  <div class="timer2 text-white card p-md-2 fs-4 ms-auto"></div>
</div>
