<div class="user1 card rounded-end text-white card my-2 px-1 py-1">
  <h4 class="playerdetails">
    <img
      src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/chess_piece_pawn.png"
      class="dp"
      alt=""
    /><span id="user1-name">waiting for opponent...</span>
    <span class="badge bg-secondary p-1" id="user1-skill">
      <small></small
    ></span>
    <span>
      <span class="spinner-wrapper2" id="spinner-wrapper2">
        <span class="spinner-border text-success" id="loader2" role="status">
        </span>
      </span>
    </span>
  </h4>
  <div class="text-white" id="captures1"></div>
  <div class="timer1 text-white card p-md-2 fs-4 ms-auto"></div>
</div>

<style>
  .spinner-wrapper2 {
    z-index: 999;
  }
</style>
